.home-section{
    width: 100vw;
    height: 100vh;
    background: url(../../Images/Image/Rectangle\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    background: rgba(0, 0, 0, 0.5)
 
}
.content {
    padding-top: 30vh;
}
.placeSlider{
    width: 60%;
}