.main-header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4vw;
    color: #fff;
    z-index: 1;
    transition: top .8s ease-out;

    .logo{
        
        img{
            width: 106px;
            color: #fff;
        }
    }

    a{
        font-weight: 550;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }
    .nav-links{
        display: flex;
        list-style: none;

        .nav-link{
            transition: 
            opacity 0.4s ease-in-out,
            transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:nth-of-type(2){
                transition-delay:  .1s;
            }
            &:nth-of-type(3){
                transition-delay:  .2s;
            }
            &:nth-of-type(4){
                transition-delay:  .3s;
            }
            &:nth-of-type(5){
                transition-delay:  .4s;
            }
            &:nth-of-type(6){
                transition-delay:  .5s;
            }


            a{
                margin: .2rem;
                padding: 1rem 1rem;
            }
            a:hover{
                background: rgba(255,255,255,0.2);
            }

        }

    }

    .menu-icon{
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;

        &__line{
            display: block;
            position: relative;
            background: #61DAFB;
            height: 3.5px;
            width: 30px;
            border-radius: 5px;

            &::before, &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 5px;
                background: #61DAFB;
            }

            &::before{
                transform: translateY(-7px);
            }
            &::after{
                transform: translateY(7px);

            }
        }
    }
    .menu-btn{
        position: absolute;
        top: -100px;

        &:focus ~ .menu-icon{
            .menu-icon__line{
                &::before{
                    transform: translateY(-7px);
                }
                &::after{
                    transform: translateY(7px);
                }
            }
        }
    }

    &.scrolled{
        top: -100px;
        z-index: 10;
    }
}